
* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(black, #171926 );
    color: aliceblue;
}

h1 {
    font-weight: normal;
    font-size: 72px;
    font-family: "bebas neue";
    margin: 20;
}

@media only screen and (max-width: 600px) {
    h1 {
        text-align: center;
    }
}

h2 {
    font-weight: lighter;
    font-size: 48px;
    font-family: "bebas neue";
    color: aliceblue;
    margin:15;
}

h3 {
    font-weight: bold;
    font-size: 24px;
    font-family: "abhaya libre";
    color: #B9BFB0;
    margin: 10;
}

.sub-headings {
    background-color: #BF8360;
}

p {
    font-weight: normal;
    font-size: 18px;
    font-family: "playfair display";
    color: aliceblue;
    line-height: 1.5;
    letter-spacing: 1.1px;
}

nav, nav ul {
    text-align: center;
    background-color: #171926;
    margin: 0;
    width: auto;
    padding: 12px;   
}

#nav li {
    display: inline-block;
    text-align: center;
}

@media only screen and (max-width: 600px) {

    #nav li {
        display: block;
    }
}

nav a {
    color: aliceblue;
    margin: 24px;
    font-family: "bebas neue";
    font-size: 24px;
}

#actual-header {
    padding: 48px;
    width: auto;
    bottom: 0;
    margin: 0;
    background-color: #404259;
    color: aliceblue;
}

.location-date {
    margin: 25px auto;
    max-width: 500px;
    min-width: 400px;
    color: #B9BFB0;
    font-weight: bold;
    font-size: 20px;
}

.paragraph-main {
    margin: 25px auto;
    max-width: 500px;
    min-width: 400px;
}

.swatch {
    border: solid lightgray 2px;
    display: inline-block;
    width: 300px;
    height: 150px;
    margin: 12px;
    padding-top: 55px;
    font-size: 36px;
    font-family: "bebas neue";
    letter-spacing: 2px;
    color: white;
}

.sub-headings {
    margin: 0;
    padding-left: 60px;
    text-align: left;
}



#font-list {
    margin: 0 auto;
    text-align: center;
    width: 1000px;
}

#color-list {
    text-align: center;
    margin: 24px auto;
}

#blue {
    background-color: #404259;
    
}

#dark {
    background-color: #171926;
     
}

#tan {
    background-color: #D9A273;
    
}

#burnt-sienna {
    background-color: #BF8360;
    
}

#sea-green {
    background-color: #B9BFB0;
    
}

.font-heading {
    
}

.bebas-neue {
    font-family: "bebas neue";
    text-align: left;
}


.playfair-display {
    font-family: "playfair display";
    text-align: left;
}

.abhaya-libre {
    font-family: "abhaya libre";
    text-align: left;
}



footer {
    font-family: "bebas neue";
    height: 60px;
    background-color: #404259;
    text-align: right;
}

